<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    <title>Sākumlapa</title>
</head>
<body>
    <h1>ToDo.list</h1>
    <p>ToDo-list ir vienkārša lietotne, kas ļauj lietotājiem izveidot, pārvaldīt un atzīmēt atbilstoši sarakstu ar uzdevumiem vai darāmajām lietām.</p>
  <div id= "option_list">
  <a href="\register"><button type="button" id= "variants">{{texts["register_button"]}}</button></a>
  <a href="\login"><button type="button" id= "variants">{{texts["login_button"]}}</button></a>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, msg in messages %}
          <li class="{{ category }}">{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body>
</html>